.App {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  text-align: center;
}

.header {
  color: white;
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

