@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.App {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.header {
  color: white;
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

