.button-box1 {
  margin-left: 10px;
  margin-top: 15px;
  position: relative;
  border-radius: 5px;
  transform: translate(15%, 10%);
  overflow: hidden;
  float: left;
}

.country{
 background-color: rgba(195, 216, 221, 0.301);;
 border: none;
 border-radius: 5px;
 color: white;
 padding: 2px 15px;
 text-align: center;
 display: inline-block;
 font-size: 13px;
 cursor: pointer;
 width: 6em;
 transition: all .3s ease;
}

.country:hover{
  background-color: rgba(255, 255, 255, 0.432);
  color: white;
 }

 .country:active{
  color: black;
  background-color: white;
 }

 .state{
  background-color: rgba(195, 216, 221, 0.301);;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 2px 15px;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  width: 6em;
  margin-left: 2px;
  transition: all .3s ease;
 }

 .state:hover{
  background-color: rgba(255, 255, 255, 0.432);
  color: white;
 }

 .state:active{
  color: black;
  background-color: white;
 }




.button-box2 {
  width: 20%;
  margin-right: 10%;
  margin-top: 15px;
  position: relative;
  transform: translate(15%, 10%);
  overflow: hidden;
  float: right;
}

.year1{
  background-color: rgba(195, 216, 221, 0.301);;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 2px 15px;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  width: 6em;
  transition: all .3s ease;
 }
 
 .year1:hover{
   background-color: rgba(255, 255, 255, 0.432);
   color: white;
  }
 
  .year1:active{
   color: black;
   background-color: white;
  }
 
  .year2{
   background-color: rgba(195, 216, 221, 0.301);;
   border: none;
   border-radius: 5px;
   color: white;
   padding: 2px 15px;
   text-align: center;
   display: inline-block;
   font-size: 13px;
   cursor: pointer;
   width: 6em;
   margin-left: 2px;
   transition: all .3s ease;
  }
 
  .year2:hover{
   background-color: rgba(255, 255, 255, 0.432);
   color: white;
  }
 
  .year2:active{
   color: black;
   background-color: white;
  }





@media only screen and (max-width: 600px) {
  .button-box1,
  .button-box2 {
    width: 30%;
  }

}