.year{
  background-color: rgba(195, 216, 221, 0.301);;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
  width: 10em;
  float: left;
 }
 
 .year:hover{
   background-color: rgba(255, 255, 255, 0.432);
   color: white;
  }
 
  .year:active{
   color: black;
   background-color: white;
  }
 
.legend {
  text-align: center;
  width: 100vw;
  margin-top: 20px;
}

.leg {
  float: left;
  
}

.one {
  color: #f4f5ba;
  margin-left: 25%;
}

.two {
  color: #ffff87;
  margin-left: 2%;
}

.three {
  color: #eded3e;
  margin-left: 2%;
}

.four {
  color: #f56262;
  margin-left: 2%;
}

.five {
  color: #e64343;
  margin-left: 2%;
}

.six {
  color: #d10a0a;
  margin-left: 2%;
}